body {
  color: #444;
  font: 18px/1.5 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.7em;
}

h1 a {
  color: #444;
}

a {
  color: #08C;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  background-color: #fff;
  width: 700px;
}
